[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2/
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua
[submodule "third_party/Catch"]
	path = third_party/Catch
	url = https://github.com/philsquared/Catch
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "modules/logger"]
	path = modules/logger
	url = https://git.mtgames.nl/Dreaded_X/Logger
[submodule "modules/iohelper"]
	path = modules/iohelper
	url = https://git.mtgames.nl/Blaze/IOHelper
